Flask==3.0.3
Werkzeug>=3.0.0

pymysql==1.1.0

torch==2.3.1+cpu --extra-index-url https://download.pytorch.org/whl/cpu
sentence-transformers==2.7.0
spacy==3.7.4

numpy==1.26.4

PyPDF2==3.0.1
PyMuPDF==1.24.9
pdfminer.six==20221105

nltk==3.8.1
geopy==2.4.1
geocoder==1.38.1

pandas==2.2.2

Pillow==10.4.0
plotly==5.22.0
