<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ title or 'SMART ATS' }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
  <header>
  <div class="brand">
    <h1><a href="{{ url_for('home') }}" class="brand-link">SMART ATS</a></h1>
  </div>
    <nav>
      <a href="{{ url_for('home') }}">User</a>
      <a href="{{ url_for('jd_match.jd_match_page') }}">Job Matching</a>
      <a href="{{ url_for('feedback_page') }}">Feedback</a>
      <a href="{{ url_for('about') }}">About</a>
      <a href="{{ url_for('admin_login') }}">Admin</a>
    </nav>
  </header>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="flash">
        {% for m in messages %}<div>{{ m }}</div>{% endfor %}
      </div>
    {% endif %}
  {% endwith %}

  <main>
    {% block content %}{% endblock %}
  </main>

  <footer>
    Built by SURYA NATTARAYASAMY</a>
  </footer>
</body>
</html>
